:root{
    --primary: red;

}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;    
}

body {
    line-height: 1.6;
    color: #333333;
    font-size: 1.1rem;
}

a {
    text-decoration: none;
    color: #000000;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
}

.container {
    display: grid;
    max-width: 1100px;
    margin: auto;
    overflow: hidden;
}


.navbar {
    display: grid;
    grid-gap: 0px;
    grid-template-columns: 1fr 5fr;
    align-items: center;
    padding: 1rem;
}

.nav-main {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr;
    align-items: center;
}